.loaderContainer {
  display: flex;
  justify-content: center;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: var(--light);
  border-radius: 50%;

  margin: 0 5px;

  animation: loader 1s infinite ease-in-out alternate;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loader {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
